/* League of Legends Typography, Color, and Gradient Styles */

:root {
    /* Fonts */
    --font-beaufort: "BeaufortforLOL", serif;
    --font-spiegel: 'Spiegel', sans-serif;

    /* Colors */
    --blue-1: #cdfafa;
    --blue-2: #0ac8b9;
    --blue-3: #0397ab;
    --blue-4: #005a82;
    --blue-5: #0a323c;
    --blue-6: #091428;
    --blue-7: #0a1428;
    --gold-1: #f0e6d2;
    --gold-2: #c8aa6e;
    --gold-3: #c8aa6e;
    --gold-4: #c89b3c;
    --gold-5: #785a28;
    --gold-6: #463714;
    --gold-7: #32281e;
    --grey-1: #a09b8c;
    --grey-1-5: #5b5a56;
    --grey-2: #3c3c41;
    --grey-3: #1e2328;
    --grey-cool: #1e282d;
    --hextech-black: #010a13;

    /* Default text and background colors */
    --color-text: var(--gold-1);
    --color-background: var(--hextech-black);
}

/* Color utility classes */
.bg-blue-1 {
    background-color: var(--blue-1);
}
.bg-blue-2 {
    background-color: var(--blue-2);
}
.bg-blue-3 {
    background-color: var(--blue-3);
}
.bg-blue-4 {
    background-color: var(--blue-4);
}
.bg-blue-5 {
    background-color: var(--blue-5);
}
.bg-blue-6 {
    background-color: var(--blue-6);
}
.bg-blue-7 {
    background-color: var(--blue-7);
}
.bg-gold-1 {
    background-color: var(--gold-1);
}
.bg-gold-2 {
    background-color: var(--gold-2);
}
.bg-gold-3 {
    background-color: var(--gold-3);
}
.bg-gold-4 {
    background-color: var(--gold-4);
}
.bg-gold-5 {
    background-color: var(--gold-5);
}
.bg-gold-6 {
    background-color: var(--gold-6);
}
.bg-gold-7 {
    background-color: var(--gold-7);
}
.bg-grey-1 {
    background-color: var(--grey-1);
}
.bg-grey-1-5 {
    background-color: var(--grey-1-5);
}
.bg-grey-2 {
    background-color: var(--grey-2);
}
.bg-grey-3 {
    background-color: var(--grey-3);
}
.bg-grey-cool {
    background-color: var(--grey-cool);
}
.bg-hextech-black {
    background-color: var(--hextech-black);
}

.text-blue-1 {
    color: var(--blue-1);
}
.text-blue-2 {
    color: var(--blue-2);
}
.text-blue-3 {
    color: var(--blue-3);
}
.text-blue-4 {
    color: var(--blue-4);
}
.text-blue-5 {
    color: var(--blue-5);
}
.text-blue-6 {
    color: var(--blue-6);
}
.text-blue-7 {
    color: var(--blue-7);
}
.text-gold-1 {
    color: var(--gold-1);
}
.text-gold-2 {
    color: var(--gold-2);
}
.text-gold-3 {
    color: var(--gold-3);
}
.text-gold-4 {
    color: var(--gold-4);
}
.text-gold-5 {
    color: var(--gold-5);
}
.text-gold-6 {
    color: var(--gold-6);
}
.text-gold-7 {
    color: var(--gold-7);
}
.text-grey-1 {
    color: var(--grey-1);
}
.text-grey-1-5 {
    color: var(--grey-1-5);
}
.text-grey-2 {
    color: var(--grey-2);
}
.text-grey-3 {
    color: var(--grey-3);
}
.text-grey-cool {
    color: var(--grey-cool);
}
.text-hextech-black {
    color: var(--hextech-black);
}

/* Gradient utility classes */
.gradient-blue-6-7 {
    background: linear-gradient(to left, var(--blue-6), var(--blue-7));
}

.gradient-gold-5-4 {
    background: linear-gradient(to left, var(--gold-5), var(--gold-4));
}

.gradient-blue-4-2 {
    background: linear-gradient(to left, var(--blue-4), var(--blue-2));
}

/* Gradient text utility classes */
.text-gradient-blue-6-7 {
    background: linear-gradient(to left, var(--blue-6), var(--blue-7));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
}

.text-gradient-gold-5-4 {
    background: linear-gradient(to left, var(--gold-5), var(--gold-4));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
}

.text-gradient-blue-4-2 {
    background: linear-gradient(to left, var(--blue-4), var(--blue-2));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
}

body {
    font-family: var(--font-spiegel);
    color: var(--color-text);
    background-color: var(--hextech-black);
}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5 {
    font-family: var(--font-beaufort);
    font-weight: bold;
    letter-spacing: 0.05em; /* 50 tracking */
    margin-bottom: 0.5em;
}

h1, .h1 {
    font-size: 53px; /* 40pt */
    line-height: 56px; /* 42pt */
}

h2, .h2 {
    font-size: 37px; /* 28pt */
    line-height: 43px; /* 32pt */
}

h3, .h3 {
    font-size: 31px; /* 23pt */
    line-height: 37px; /* 28pt */
}

h4, .h4 {
    font-size: 24px; /* 18pt */
    line-height: 29px; /* 22pt */
}

h5, .h5 {
    font-size: 19px; /* 14pt */
    line-height: 24px; /* 18pt */
    letter-spacing: 0.075em; /* 75 tracking */
}

.medium-body {
    font-family: var(--font-spiegel);
    font-weight: normal;
    font-size: 19px; /* 14pt */
    line-height: 27px; /* 20pt */
    letter-spacing: 0.025em; /* 25 tracking */
}

.bold-label {
    font-family: var(--font-spiegel);
    font-weight: bold;
    font-size: 15px; /* 11pt */
    line-height: 21px; /* 16pt */
    letter-spacing: 0.05em; /* 50 tracking */
}

.large-number {
    font-family: var(--font-beaufort);
    font-weight: 500; /* Medium */
    font-size: 76px; /* 57pt */
    line-height: 83px; /* 62pt */
    letter-spacing: 0.025em; /* 25 tracking */
}

.stat-number {
    font-family: var(--font-beaufort);
    font-weight: bold;
    font-size: 19px; /* 14pt */
    line-height: 27px; /* 20pt */
    letter-spacing: 0.05em; /* 50 tracking */
}



/* Bootstrap Override */
.navbar-toggler {
    border-color: var(--gold-4);
    color: var(--gold-4);
}

.navbar-brand {
    letter-spacing: -0.05em;
}

.navbar-nav {
    margin-left: var(--bs-navbar-brand-margin-end);
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28240, 230, 210, 1%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.nav-link, .nav-link:hover, .nav-link:focus {
    color: var(--gold-1);
}

.nav-link:hover, .nav-link:focus, .active {
    text-decoration: underline;
    text-decoration-color: var(--gold-4);
}

.navbar-brand:hover, .navbar-brand:focus, .navbar-nav .nav-link.active {
    color: var(--gold-4);
}

.animate-decorator {
    transition-property: clip-path, opacity;
    transition-duration: 1s, 0.7s;
    transition-timing-function: ease, ease;
    transition-behavior: normal, normal;
    transition-delay: 0.6s;
    opacity: 1;
    clip-path: polygon(0px 0px, 100% 0px, 100% 100%, 0px 100%);
}

/* Welcome page */
.welcome-block-1 {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    & .h1 {
        color: var(--gold-5);
        letter-spacing: -0.05em; /* 50 tracking */
        font-size: 200px;
        line-height: 150px;
    }
}

.block-opacity {
    background-color: rgba(250, 250, 250, 0.5);
}

#cdm-diagram {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Responsive adjustments */
@media (max-width: 768px) {
    h1, .h1,
    h2, .h2,
    h3, .h3,
    h4, .h4,
    h5, .h5 {
        font-family: var(--font-beaufort);
        font-weight: bold;
    }

    h1, .h1 {
        font-size: 40px;
        line-height: 44px;
    }

    .h1 {
        margin-bottom: unset;
        letter-spacing: -0.05em;
    }

    h2, .h2 {
        font-size: 32px;
        line-height: 38px;
    }
    h3, .h3 {
        font-size: 28px;
       
        line-height: 34px;
    }
    h4, .h4 {
        font-size: 22px;
        line-height: 27px;
    }

    h5, .h5 {
        font-size: 18px;
        line-height: 23px;
    }

    .medium-body,
    .stat-number {
        font-size: 16px;
        line-height: 24px;
    }

    .bold-label {
        font-size: 14px;
        line-height: 20px;
    }

    .large-number {
        font-size: 60px;
        line-height: 70px;
    }

    /* Bootstrap Override*/
    .navbar-brand {
        margin-left: var(--bs-navbar-brand-margin-end);
    }

    .welcome-block-1 {
        & .h1 {
            font-size: 86px;
            line-height: 65px;
        }

        & .h3 {
            font-size: 20px;
            line-height: 20px;
        }
    }
}